@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

body {
  background-color: rgb(3, 3, 3);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  mix-blend-mode: difference;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Lines between the paragaphs */
hr {
  margin-top: 15px;
  margin-bottom: 10px;
}

h1 {
  color: rgba(230, 230, 230, 0.87);
  font-family: "Pinyon Script", cursive;
  font-size: 1000%;
  text-align: left;
  margin-left: 20px;
  mix-blend-mode: difference;
}

h2 {
  color: rgba(243, 243, 243, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
  max-width: 80%;
  mix-blend-mode: difference;
}

div {
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  mix-blend-mode: difference;
}

div.desc {
  padding: 15px;
  text-align: center;
}

p {
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: justify;
  text-justify: inter-character;
  line-height: 1.2;
  max-width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  mix-blend-mode: difference;
}

.p_margin_bottom {
  margin-bottom: 4em;
}

info {
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  mix-blend-mode: difference;
}

/* Link as a regualr state */
a:visited {
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

/* Link as a hover state */
a:hover {
  background: rgba(255, 255, 255);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

div.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#jalka {
  position: fixed;
  background: white;
  font-size: 12pt;
  top: 20px;
  left: 20px;
}

#tiedot {
  position: fixed;
  background: white;
  bottom: 20px;
  font-size: 12pt;
  left: 20px;
}

#shows {
  position: fixed;
  font-size: 12pt;
  bottom: 60px;
  left: 10px;
  max-width: 80em;
}

#some {
  background: white;
  position: fixed;
  font-size: 12pt;
  top: 20px;
  right: 20px;
}

#teksti {
  background: white;
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  mix-blend-mode: difference;
}

#digital-clock {
  position: fixed;
  background: white;
  color: black;
  bottom: 20px;
  font-size: 12pt;
  right: 20px;
}

#mark {
  color: red;
  font-size: 20px;
  position: fixed;
  bottom: 50%;
  text-align: center;
  left: 49%;
}

/* Preloader to website that makes sure that our content is downloaded before it shows up. This function will also work as a warning card about the strobe effect i n different works*/
#preloader {
  background: #000 center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 100;
  font-size: 24pt;
  left: 20px;
  top: 50%;
}

/* text highlighter */
::selection {
  color: red;
  background: yellow;
}

/* has all of the media works insisde of it */
.container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.container .hoverwrap {
  position: relative; /* required for (c2) */
  display: block;
}

.container .hoverwrap.hide {
  display: none;
}

.container .hoverwrap img {
  position: relative; /* required for (c2) */
}

.container .hoverwrap video {
  position: relative; /* required for (c2) */
}
.container:hover > .hidden {
  visibility: visible;
  pointer-events: none;
  transition: 0.3s linear;
}

/* Caption text inside of the each media work and it's transistion*/
.hovercap {
  background: white;
  color: black;
  position: absolute;
  bottom: 20%;
  left: 20px;
  margin-bottom: 60px;
  visibility: none;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Tag text inside of the each media work */
.hovertag {
  background: white;
  color: black;
  position: absolute;
  bottom: 5%;
  left: 20px;
  margin-right: 20px;
  margin-bottom: 18px;
  visibility: none;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Tag text inside of the each media work */
.hoverwrap:hover .hovercap {
  visibility: visible;
  opacity: 1;
}

.hoverwrap:hover .hovertag {
  visibility: visible;
  opacity: 1;
}

.media {
  -webkit-filter: none;
  position: relative;
  filter: none;
  height: auto;
  width: 600px;
  margin: 20px;
  margin-top: 60px;
}

.hoverwrap .media .hide {
  display: none;
}

.media:hover {
  visibility: visible;
  -webkit-filter: invert(100%) blur(100%);
  filter: invert(100%) blur(20px);
  transition: 0.3s linear;
}

.writings {
  -webkit-filter: none;
  filter: none;
  max-width: 100%;
  height: auto;
  align-items: center;
  height: 800px;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 30px;
  width: 300px;
  padding-top: 50px;
  font-size: 2em;
  z-index: 99px;
}

.last {
  position: relative;
}

/* Gallery filter styling */
.btn {
  border: none;
  outline: none;
  position: absolute;
  background: white;
  font-size: 12pt;
  top: 40px;
  left: 20px;
}
/* Gallery filter styling margin from rest of the gallery */
section {
  margin-top: 175px;
}

section ul {
  align-items: left;
  cursor: pointer;
}

section ul li {
  list-style: none;
  margin: auto;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}

section ul li.active {
  background-color: black;
  color: white;
  font-weight: bold;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .media {
    width: 100%;
    margin: 0px;
  }
}
